* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: rgb(20, 20, 20);
  padding: 30px;
  min-height: 1080px;
  min-width: fit-content;
  position: relative;
}

.loginmain {
  background-color: rgb(20, 20, 20);
  padding: 30px;
  min-height: 1080px;
  min-width: fit-content;
  position: relative;
  align-items: center;
}

.text {
  color: white;
  font-family: 'Inter', sans-serif;
}

.caption {
  color: white;
  margin-left: 35%;

}

.invis_text {
  visibility: hidden;
}

.container {
  display: grid;
  grid-template-columns: min-content min-content;
  padding: 10px;
}

.container div {
  padding: 20px;
  align-items: center;
}

.containerinner {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
}

.containerinner div {
  padding: 1px;
  align-items: center;
}

.time_awake {
  width: 263px;
  height: 139px;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  text-align: center;
  align-content: start;
}

.server_time {
  width: 800px;
  height: 139px;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
}

.cpu_graph,
.ram_graph,
.disk_graph {
  width: 800px;
  height: 366px;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  align-content: start;
}

.docker_control {
  width: 1640px;
  height: 366px;
  background-color: rgb(30, 30, 30);
  text-align: center;
  border-radius: 20px;
  margin-left: 30px;
  padding: 20px;
}

.time_icon {
  width: 60px;
  height: 60px;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 50%;
  align-content: center;
  padding-bottom: 20%;
}

.docker_button {
  width: 70px;
  height: 30px;
  background-color: rgb(23, 99, 238);
  text-align: center;
  padding: 4px;
  border-radius: 20px;
  border-color: rgb(23, 99, 238);
  margin-left: 20px;
}

.dockercontrol_inner {
  width: 100%;
  height: fit-content;
  background-color: rgb(35, 35, 35);
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-content: start;
  border-radius: 20px;
}

.dockertable {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  padding: 1px;
}

.dockertable div {
  align-items: start;
  padding: 10px;
}

.login_container{
  background-color: rgb(30, 30, 30);
  padding: 30px;
  height: 540px;
  width: 960px;
  margin-left: 25%;
  margin-top: 250px;
  border-radius: 20px;
  text-align: center;
}

.username_textarea{
  min-width: 250px;
  min-height: 40px;
  align-content: center;
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
  padding-left: 20px;
}

.password_textarea{
  min-width: 250px;
  min-height: 40px;
  align-content: center;
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
  padding-left: 20px;
}

.login_button {
  width: 140px;
  height: 35px;
  background-color: rgb(23, 99, 238);
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  border-color: rgb(23, 99, 238);
  margin-left: 20px;
}